/* legends */
g.axis path, g.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
g.axis text {
  font: 10px sans-serif;
}

/* players */
g.players rect.bounding-box {
  fill: none;
  stroke-width: 2;
  stroke: black;
}

g.players rect.bounding-box rect.strip {
  fill: black;
}