@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  width: 1050px;
  margin-left: 100px;
  font-family: 'Roboto', sans-serif;
}

.header {
  margin: 30px auto 15px auto;
  border-bottom: 1px solid #000;
  width: auto !important;
  height: 101px;
}

.header .title {
  float: left;
  height: 101px;
}

.header .title h1 {
  font-size: 40px;
  font-weight: 700;
}

.header .social {
  float: right;
  margin-top: 50px;
  height: 51px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 0.0625rem;
}

.header .social a {
  color: #000;
  text-decoration: underline;
}

.header .social a.twitter {
  color: #55acee;
  text-decoration: none;
}

.graphic {
  padding-top: 30px;
}

.sections {
  display: inline-block;
  position: relative;
  width: 250px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
}

.sections section.step {
  margin-bottom: 200px;
  font-size: 16px;
  line-height: 23px;
}

.sections section h2 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 2px;
  line-height: 1.2em;
}

.vis {
  display: inline-block;
  position: fixed;
  top: 180px;
  z-index: 1;
  margin-left: 0;
  width: 810px;
  height: 600px;
}

span.pink {
  color: #DE77AE;
}